:root {
    --welcome-bg-start: #5d33be;
    --welcome-bg-end: #8f4cd7;
    --welcome-card-bg: white;
    --welcome-text: white;
    --button-bg: #5C33BE;
    --button-text: white;
    --button-font-size: 18px;
    --button-radius: 8px;
    --button-height: 48px;
    --navbar-bg-start: var(--welcome-bg-start);
    --navbar-bg-end: var(--welcome-bg-end);
    --navbar-text: white;
    --z-index-overlay: 16;
    --overlay-mask-bg: rgba(0, 0, 0, 0.5);
    --overlay-bg: white;
    --top-safe-area-height: 24px;
    --overlay-section-color: var(--welcome-bg-start);
    --overlay-user-status-text-color: white;
    --overlay-sign-in-text-color: #cea1ff;
    --overlay-side-navbar-text-color: #000;
    --tabs-indicator-color: rgba(255, 255, 255, 0.5);
    --button-border-color: #ddd;
    --amount-color: #53A867;
    --date-color: #999;
    --button-submit-bg: #5C33BE;
    --button-text-color: white;
    --error-color: #E10505;
    --input-border-color: #5c33be;
    --input-min-height: 48px;
    --input-radius: var(--button-radius);
    --input-shadow: rgba(0, 0, 0, 0.25);
    --emoji-nav-text-selected: #333;
    --emoji-nav-text: #999;
    --main: #5C33BE;
    --tag-bg: #EFEFEF;
    --button-bg-danger: #E10505;
    --list-tag-text: #333;
    --list-amount-text: var(--amount-color);
    --list-time-text: var(--date-color);
    --total-bg: #252A43;
    --total-text: white;
    --total-income: #FE7275;
    --total-expenses: #53A867;

}